{% include 'top.html' %}

<div id="content" class="container my-4">
    <h1 class="page-title">Update Airport City</h1>

    <form method="POST">
        <div class="mb-3">
            <label for="airport_select" class="form-label">Select Airport</label>
            <select class="form-control" id="airport_select" name="iatacode" required>
                <option value="">Select an airport</option>
                {% for airport in airports %}
                <option value="{{ airport[2] }}">{{ airport[1] }} ({{ airport[2] }}, {{ airport[3] }})</option>  <!-- Name, IATA code, City -->
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Retrieve Airport</button>
    </form>

    {% if airport_info %}
    <hr>

    <form method="POST">
        <input type="hidden" name="iatacode" value="{{ airport_info[2] }}">  <!-- iatacode -->
        <div class="mb-3">
            <p>Airport Chosen: {{airport_info[1]}}</p>
            <p>ID: {{airport_info[0]}}</p>
            <label for="new_city" class="form-label">Current City: {{ airport_info[3] }}</label>  <!-- city -->
            <p class="text-muted">Please enter the revised city below:</p> <!-- Instruction line -->
            <input type="text" class="form-control" id="new_city" name="new_city" required>
        </div>
        <button type="submit" class="btn btn-primary">Update City</button>
    </form>
    {% endif %}
</div>

{% include 'end.html' %}
